<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.backend.mapper.CategoryMapper">

    <resultMap id="CategoryResultMap" type="com.example.backend.entity.db.CategoryEntity">
        <id property="id" column="ID"/>
        <result property="userId" column="USER_ID"/>
        <result property="categoryId" column="CATEGORY_ID"/>
        <result property="categoryName" column="CATEGORY_NAME"/>
        <result property="description" column="DESCRIPTION"/>
        <result property="createdBy" column="CREATED_BY"/>
        <result property="createdAt" column="CREATED_AT"/>
        <result property="updatedBy" column="UPDATED_BY"/>
        <result property="updatedAt" column="UPDATED_AT"/>
        <result property="deletedFlg" column="DELETED_FLG"/>
    </resultMap>

    <insert id="insertCategory" parameterType="com.example.backend.entity.db.CategoryEntity">
    INSERT INTO CATEGORIES (
        USER_ID,
        CATEGORY_ID,
        CATEGORY_NAME,
        DESCRIPTION,
        CREATED_BY,
        CREATED_AT,
        UPDATED_BY,
        UPDATED_AT,
        DELETED_FLG
    ) VALUES (
        #{userId, jdbcType=VARCHAR},
        #{categoryId, jdbcType=VARCHAR},
        #{categoryName, jdbcType=VARCHAR},
        #{description, jdbcType=VARCHAR},
        #{createdBy, jdbcType=VARCHAR},
        SYSTIMESTAMP,
        #{updatedBy, jdbcType=VARCHAR},
        SYSTIMESTAMP,
        0
    )
    </insert>


    <select id="getAllCategories" resultMap="CategoryResultMap">
        SELECT * 
        FROM CATEGORIES 
        WHERE DELETED_FLG = '0'
            AND  USER_ID = #{userId}
    </select>

    <!-- 更新 -->
    <update id="updateCategory" parameterType="com.example.backend.entity.db.CategoryEntity">
        UPDATE COMMODITY_MANAGEMENT.CATEGORIES
        SET
            CATEGORY_NAME = #{categoryName},
            DESCRIPTION = #{description},
            UPDATED_AT = SYSTIMESTAMP,
            UPDATED_BY = #{updatedBy}
        WHERE ID = #{id}
          AND USER_ID = #{userId}
    </update>

    <!-- （逻辑删除） -->
    <update id="deleteCategory">
        UPDATE COMMODITY_MANAGEMENT.CATEGORIES
        SET DELETED_FLG = '1',
            UPDATED_AT = SYSTIMESTAMP
        WHERE ID = #{id}
    </update>

</mapper>
