<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.backend.mapper.ChannelMapper">

    <select id="getAllChannels" resultType="com.example.backend.entity.db.ChannelEntity">
        SELECT
            channel_id AS channelId,
            channel_name AS channelName,
            handling_fee AS handlingFee
        FROM channel
        WHERE deleted_flg = '0'
        AND user_id = #{userId}
    </select>

    <insert id="insertChannel" parameterType="com.example.backend.entity.db.ChannelEntity">
        INSERT INTO COMMODITY_MANAGEMENT.CHANNEL (
            USER_ID,
            CHANNEL_NAME,
            HANDLING_FEE,
            CREATED_BY,
            UPDATED_BY,
            CREATED_AT,
            UPDATED_AT,
            DELETED_FLG
        ) VALUES (
            #{userId},
            #{channelName},
            #{handlingFee},
            #{createdBy},
            #{updatedBy},
            SYSTIMESTAMP,
            SYSTIMESTAMP,
            '0'
        )
    </insert>

</mapper>
