<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.backend.mapper.DeliveryMethodMapper">

    <!-- 通用字段 -->
    <resultMap id="DeliveryCompanyMethodResultMap" type="com.example.backend.entity.db.DeliveryMethodEntity">
        <id property="id" column="ID" />
        <result property="deliveryMethodId" column="DELIVERY_METHOD_ID" />
        <result property="userId" column="USER_ID" />
        <result property="deliveryCompany" column="DELIVERY_COMPANY" />
        <result property="deliveryMethod" column="DELIVERY_METHOD" />
        <result property="createdBy" column="CREATED_BY" />
        <result property="createdAt" column="CREATED_AT" />
        <result property="updatedBy" column="UPDATED_BY" />
        <result property="updatedAt" column="UPDATED_AT" />
        <result property="deletedFlg" column="DELETED_FLG" />
    </resultMap>

    <!-- 查询全部 -->
    <select id="getAll" resultMap="DeliveryCompanyMethodResultMap" parameterType="string">
        SELECT *
        FROM DELIVERY_METHOD
        WHERE DELETED_FLG = '0'
            AND USER_ID = #{userId}
    </select>

    <!-- 插入 -->
    <insert id="insert" parameterType="com.example.backend.entity.db.DeliveryMethodEntity">
        INSERT INTO DELIVERY_METHOD
        (
            USER_ID,
            DELIVERY_METHOD_ID,
            DELIVERY_COMPANY,
            DELIVERY_METHOD,
            CREATED_BY,
            CREATED_AT,
            UPDATED_BY,
            UPDATED_AT,
            DELETED_FLG
        ) VALUES (
            #{userId},
            #{deliveryMethodId},
            #{deliveryCompany},
            #{deliveryMethod},
            #{createdBy},
            #{createdAt},
            #{updatedBy},
            #{updatedAt},
            #{deletedFlg}
        )
    </insert>

    <!-- 更新 -->
    <update id="update" parameterType="com.example.backend.entity.db.DeliveryMethodEntity">
        UPDATE DELIVERY_METHOD
        SET
            DELIVERY_COMPANY = #{deliveryCompany},
            DELIVERY_METHOD = #{deliveryMethod},
            UPDATED_BY = #{updatedBy},
            UPDATED_AT = #{updatedAt}
        WHERE ID = #{id}
            AND USER_ID = #{userId}
    </update>

    <!-- 逻辑删除 -->
    <update id="delete" parameterType="map">
        UPDATE DELIVERY_METHOD
        SET DELETED_FLG = '1'
        WHERE ID = #{id}
            AND USER_ID = #{userId}
    </update>

</mapper>
