.platform-selector-box {
  margin-bottom: 20px;
}

.platform-tab {
  font-size: 16px !important;
  font-weight: bold !important;
  padding: 12px 36px !important;
  border-radius: 3px !important;
  margin: 0 0px !important;
  background-color: #f5f5f5;
  color: #c4b8b8 !important;
  transition: all 0.3s ease;
}

.platform-tab:hover {
  background-color: #eaeaea;
}

.platform-tab.selected {
  background-color: #83440665;
  color: #ffffff !important;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}
