.platform-selector-box {
  margin-bottom: 20px;
}

.platform-tab {
  font-size: 16px !important;
  font-weight: bold !important;
  padding: 12px 36px !important;
  margin: 0 8px !important;
  border-radius: px !important;
  color: #666 !important;
  background-color: #f0f0f0 !important;
  transition: all 0.3s ease-in-out;
}

.platform-tab:hover {
  background-color: #ddd !important;
}

.platform-tab.selected {
  background-color: #1976d2 !important; /* 蓝色块 */
  color: white !important;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
