.content {
  padding: 30px;
  font-family: 'Arial', sans-serif;
  
}

.product-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;

}

.product-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

