/* 外层布局 */
.main-layout {
  display: flex;
  height: 100vh;
}

/* 固定左侧边栏 */


/* 主体内容区域 */
.right-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100vh;
}



/* 主内容区 */
.main-content {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
  background-color: #f8f8f8;
}
